.board-container{
    width:250px;
    height: 500px;
    background-color: lightgrey;
}

.board-header{
    font-style: bold;
}

.board-item{
    background-color: white;
    width:200px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    border: solid 1px black;

}
.main-board-container{
    display:flex;
}